.link{
  text-decoration: none;
}

.order-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.order-form input{
  display: block;
  margin-top: .75rem;
  padding: .75rem;
  border: 2px solid gray;
  border-radius: .25rem;
  width: 18.75rem;
}